.filter {
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.08);
    overflow: hidden;
}

.filter__aboveContainer {
    padding: 24px;
    background-color: #1C1E22;
}

.filter__belowContainer {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background: rgb(50, 56, 62);
    padding: 20px;
}

.filter__title {
    color: rgb(82, 87, 92);
    display: block;
    font-size: 13px;
    font-weight: 400;
    line-height: 22px;
    margin: 0;
}

.filter__subtitle {
    color: rgb(170, 170, 170);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 15px;
}

.filter__text {
    font-size: 8px;
    font-weight: 400;
    line-height: 22px;
}